$ivory: #EDE9E3;
$nude: #E7D7C9;
$dusty_rose: #D4B2A7;
$stone: #CDC6C3;
$latte: #A38F85;



@use 'bulma/sass' with (
    $white: $ivory,
    $grey-dark: $latte,
    $link: $stone,
    $primary: $dusty_rose,

    $table-cell-text-align: center,

    $family-primary: '"KoPubWorldBatang"'
);


@font-face {
    font-family: 'KoPubWorldBatang';
    font-weight: 300;
    font-style: normal;
    src: url('./KoPubWorldBatangLight.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'KoPubWorldBatang';
    font-weight: 500;
    font-style: normal;
    src: url('./KoPubWorldBatangMedium.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'KoPubWorldBatang';
    font-weight: 700;
    font-style: normal;
    src: url('./KoPubWorldBatangBold.woff2');
    font-display: swap;
}
