$ivory: #EDE9E3;
$nude: #E7D7C9;
$dusty_rose: #D4B2A7;
$stone: #CDC6C3;
$latte: #A38F85;

$blackish: #01070A;
$darkblue: #46656F;
$bluish: #8FABB7;
$silverish: #D8DFE5;
$whitish: #FBFBFB;


// @use 'bulma/sass' with (
//     $white: $ivory,
//     $grey-dark: $latte,
//     $link: $stone,
//     $primary: $dusty_rose,

//     $table-cell-text-align: center,

//     $family-primary: '"KoPubWorldBatang"'
// );

@use 'bulma/sass' with (
    $white: $whitish,
    $grey-dark: $darkblue,
    $link: $silverish,
    $primary: $bluish,
    $black: $blackish,

    $table-cell-text-align: center,

    $family-primary: '"KoPubWorldBatang"'
);


@font-face {
    font-family: 'KoPubWorldBatang';
    font-weight: 300;
    font-style: normal;
    src: url('$lib/fonts/KoPubWorldBatangLight.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'KoPubWorldBatang';
    font-weight: 500;
    font-style: normal;
    src: url('$lib/fonts/KoPubWorldBatangMedium.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'KoPubWorldBatang';
    font-weight: 700;
    font-style: normal;
    src: url('$lib/fonts/KoPubWorldBatangBold.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Cafe24Lovingu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}